<div [ngBusy]='busy' class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="btn-toolbar m-t-20" role="toolbar">
        <app-alert></app-alert>
        <div class="btn-group">
          <button class="btn btn-primary waves-effect waves-light "><i class="fa fa-phone"></i> +{{phoneNumber}}</button>
          <button type="button" class="btn btn-primary waves-effect waves-light ">Account Number: {{accountNumber}}</button>
        </div>
      </div>
    </div>
  </div>
  <h4 class="page-title">Dashboard</h4>
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-box-three">
      <div class="text-right">
        <p class="text-muted m-t-5 text-uppercase font-600 font-secondary">Available Balance(UGX)</p>
        <h2 class="m-b-10"><span data-plugin="counterup">{{accountBalance}}</span></h2>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-box-three">
      <div class="text-right">
        <p class="text-muted m-t-5 text-uppercase font-600 font-secondary">VSSE Balance(UGX)</p>
        <h2 class="m-b-10"><span data-plugin="counterup">{{vsseBalance}}</span></h2>
      </div>
    </div>
  </div>

</div>
<!-- end row -->
<div class="row">
  <div class="card-box">
    <h4 class="m-t-0 m-b-30 header-title">Statements</h4>
      <div class="table-responsive m-t-20">
        <table class="table table-hover mails m-0">
          <thead>
             <th>Type</th>
             <th>Reason</th>
             <th>Amount(UGX)</th>

          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions" class="unread">
              <td>
                <a href="#" class="email-name">{{transaction.transactionType}}</a>
              </td>

              <td class="hidden-xs">
                <a href="#" class="email-msg">{{transaction.reason}}</a>
              </td>
              <td style="width: 20px;">
               {{transaction.amount}}
              </td>
              <td class="text-right">
                {{transaction.timestamp}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>

  </div>

</div>
<!-- end row -->
