<div class="table-detail card-box">
  <div class="p-20">
    
    <div class="list-group mail-list  m-t-20">
      
      <a [routerLink]='["./"]' class="list-group-item b-0"><i class="fa fa-home m-r-10"></i>Home</a>
      <a [routerLink]='["./purchase-goals"]' class="list-group-item b-0"><i class="fa fa-shopping-cart m-r-10"></i>Buy Goals</a>
      <a [routerLink]='["./transfer-goals"]' class="list-group-item b-0"><i class="fa fa-money m-r-10"></i>Share Money</a>
      <a [routerLink]='["./load-donation-time"]' class="list-group-item b-0"><i class="fa fa-clock-o m-r-10"></i>Load Donation Time</a>
      <a [routerLink]='["./mobile-topup"]' class="list-group-item b-0"><i class="fa fa-mobile m-r-10"></i> Mobile Wallet</a>
      <!--
      <a [routerLink]='["./profile"]' class="list-group-item b-0"><i class="fa fa-user m-r-10"></i>Profile</a>
      -->
    </div>


  </div>
</div>
