<div class="row">
  <div class="col-xs-12">
    <div class="mails">
      <h4 class="page-title">Share Goals</h4>
      <div class="table-box">
        <div class="table-detail mail-right">
    
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box m-t-20">
                <div class="">
                  <form role="form">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="To">
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <input type="email" class="form-control" placeholder="Cc">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Reason">
                    </div>

                    <div class="btn-toolbar form-group m-b-0">
                      <div class="pull-right">
                        
                        <button class="btn btn-purple waves-effect waves-light"> <span>Send</span> <i class="fa fa-send m-l-10"></i> </button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>

            </div>
          </div>

          <!-- End row -->

        </div>
        <!-- table detail -->
      </div>
      <!-- end table box -->

    </div>
    <!-- mails -->
  </div>
</div>
<!-- end row -->
