<header id="topnav">
  <div class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="has-submenu">
            <a [routerLink]='["/dashboard"]'><i class="fa fa-home"></i>Kefa Foundation</a>
          </li>
          <!--
          <li class="has-submenu">
            <a href="#"><i class="mdi mdi-diamond"></i>Lorem</a>
          </li>
          
          <li class="has-submenu">
            <a href="#"><i class="mdi mdi-comment-text"></i>Lorem</a>
            <ul class="submenu">
              <li><a href="blogs-blog-list.html">Lorem</a></li>
            </ul>
          </li>
          -->
           <li class="has-submenu pull-right">
            <a (click)="logout()"><i class="fa fa-sign-out"></i>Log out</a>
          </li>
        </ul>
        <!-- End navigation menu -->
      </div>
      <!-- end #navigation -->
    </div>
    <!-- end container -->
  </div>
  <!-- end navbar-custom -->
</header>
