<!-- HOME -->
<section>
  <div class="container-alt">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 account-pages">
            <div class="text-center account-logo-box">
              <h2 class="text-uppercase">
                <a class="text-success">
                       <h4 style="color:white;">Kefa Foundation</h4>
                </a>
              </h2>



            </div>
            <div class="account-content" [ngBusy]="busy">
               <app-alert></app-alert>
              <form [formGroup]='form' (ngSubmit)='handleSubmit()' class="form-horizontal" action="#">
                <!--
                <div class="form-group ">
                  <label> Confirmation code was sent to your phone number: +{{phoneNumber}} <a [routerLink]='["/register"]' >change number</a></label>
                  <div class="col-xs-12 input-group">
                    <div class="input-group-addon fa fa-code"></div>
                    <input class="form-control" type="text" [formControl]='form.controls["code"]' placeholder="Confirmation Code">
                  </div>
                  <ul *ngIf='(submitted || code.dirty)' class="parsley-errors-list filled" id="parsley-id-5">
                    <li *ngIf='code.hasError("validity")' class="parsley-required">
                      {{ code.getError('validity')}}
                    </li>
                    <li *ngIf='code.hasError("required")' class="parsley-required">
                      This field is required
                    </li>
                    <li *ngIf='(code.hasError("minlength") || code.hasError("maxlength") )' class="parsley-required">
                      Confirmation code cannot be less or less than 6 characters.
                    </li>
                  </ul>
                </div> -->
                <div class="form-group ">
                  <div class="col-xs-12 input-group">
                    <div class="input-group-addon fa fa-user"></div>
                    <input class="form-control" type="text" [formControl]='form.controls["volunteerId"]' (ngModelChange)='onChange($event)' placeholder="Volunteer Reference Id">
                  </div>
                  <ul *ngIf='(submitted || volunteerId.dirty)' class="parsley-errors-list filled" id="parsley-id-5">
                    <li *ngIf='volunteerId.hasError("required")' class="parsley-required">This field is required.</li>
                    <li *ngIf='(volunteerId.hasError("minlength") || volunteerId.hasError("maxlength") )' class="parsley-required">
                      Volunteer cannot less than 5 characters.
                    </li>
                    <li *ngIf='volunteerId.hasError("validity")' class="parsley-required">
                      {{ volunteerId.getError('validity')}}
                    </li>
                    <li *ngIf='volunteerId.hasError("error")' class="parsley-required">
                      {{ volunteerId.getError('error')}}
                    </li>
                  </ul>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12 input-group">
                    <div class="input-group-addon fa fa-key"></div>
                    <input class="form-control" type="password" [formControl]='form.controls["password"]' placeholder="Password">
                  </div>
                  <ul *ngIf='(submitted || password.dirty)' class="parsley-errors-list filled" id="parsley-id-5">
                    <li *ngIf='password.hasError("required")' class="parsley-required">This field is required.</li>
                    <li *ngIf='(password.hasError("minlength") || password.hasError("maxlength") )' class="parsley-required">
                      Password must be between 6 and 36 characters.
                    </li>
                    <li *ngIf='password.hasError("validity")' class="parsley-required">
                      {{ password.getError('validity')}}
                    </li>
                    <li *ngIf='password.hasError("error")' class="parsley-required">
                      {{ password.getError('error')}}
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="checkbox-success">
                      <label for="checkbox-signup">By creating this account, you agree to the<a href="#">Terms and Conditions</a></label>
                    </div>
                  </div>
                </div>

                <div class="form-group account-btn text-center m-t-10">
                  <div class="col-xs-12">
                    <button class="btn w-md btn-danger btn-bordered waves-effect waves-light" type="submit">Create Account</button>
                  </div>
                </div>

              </form>

              <div class="clearfix"></div>

            </div>
          </div>
          <!-- end card-box-->


          <div class="row m-t-50">
            <div class="col-sm-12 text-center">
              <p class="text-muted">Already have account?<a [routerLink]='["/login"]' class="text-primary m-l-5"><b>Sign In</b></a></p>
            </div>
          </div>

        </div>
        <!-- end wrapper -->

      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
